* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Afacad", sans-serif;
  font-size: 1.75rem;
  color: #333333;
}

/* khung trang */
.k {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn1 {
  border-radius: 30px;
  font-family: "Afacad", sans-serif;
  color: #333333;
  width: 140px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.75rem;
  background-color: #ded7d7;
  border: none;
}

.btn2 {
  border-radius: 30px;
  font-family: "Afacad", sans-serif;
  width: 22rem;
  height: 3.25rem;
  border-radius: 30px;
  font-size: 1.75rem;
  background-color: #ded7d7;
  border: none;
}

.logo_header {
  display: flex;
  gap: 5px;
  margin-left: 15px;
}
/* main */
.phong {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: #0003 0px 0px 20px 0px;
  color: #333;
  padding: 40px;
  text-align: center;
  width: 27rem;
  height: 39rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}

/* bar */
.bar {
  display: list-item;
  width: 18rem;
  height: 100vh;
  border: 1px solid #ded7d7;
  background: #fff;
}

.logo_header {
  display: flex;
}

.btn_bar {
  display: flex;
  width: 16rem;
  height: 3rem;
  justify-content: center;
  font-size: 20px;
}
