.btn_trangcanhan {
  background-color: #96e4e8;
}
.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.elsom {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  color: pink;
  font-size: 3rem;
}

.da_khung {
  display: flex;
  gap: 10px;
  align-items: center;
}
.doianh {
  display: flex;
  width: 50rem;
  height: 5rem;
  background-color: #ded7d7;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-top: 1rem;
}
.doianh img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  gap: 8px;
}

.da_doianh {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #96e4e8;
}

.doianh label {
  font-size: 1.5rem;
}

.doiten {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.doiten input {
  width: 50rem;
  height: 4rem;
  border-radius: 30px;
  border: 1px solid #ded7d7;
}

.tieusu {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.tieusu input {
  width: 50rem;
  height: 13rem;
  border-radius: 30px;
  border: 1px solid #ded7d7;
}

.capnhat {
  position: relative;
  left: 647px;
  top: 21px;
  background-color: pink;
  height: 3rem;
}
