.btn_thongbao {
  background-color: #96e4e8;
}
.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.elsom {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  color: pink;
  font-size: 3rem;
}

.tb {
  margin-left: 20rem;
  margin-top: -1rem;
}
.fa-gift {
  color: pink;
}
.tin_tb {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.post_tb {
  font-size: 1rem;
}
