.btn_tinnhan {
  background-color: #96e4e8;
}
.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.elsom {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  color: pink;
  font-size: 3rem;
}
.tinnhan_hopthoai {
  display: flex;
  margin-left: 17rem;
}
.message-list {
  width: 33%;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  background: #ded7d7;
  margin: 10px;
  border-radius: 20px;
  padding: 8px 15px;
  position: fixed;
}

.search-box input {
  border: none;
  background: transparent;
  flex: 1;
  outline: none;
  font-size: 1.4rem;
}

.tn_box {
  margin-top: 5.2rem;
}
.chat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.chat-item:hover,
.chat-item.active {
  background: #f0efef;
}

.chat-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-info h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

.chat-info p {
  font-size: 1.2rem;
  color: #777;
}

/* Chat window */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #eee;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-info h3 {
  font-size: 1.5rem;
}

.view-profile {
  background: #a7e0de;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 1.3rem;
  cursor: pointer;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  max-width: 60%;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.4rem;
  line-height: 1.4;
}

.message img {
  margin-top: 8px;
  width: 150px;
  border-radius: 12px;
}

.received {
  background: #ffc0cb;
  align-self: flex-start;
}

.sent {
  margin-left: 20rem;
  background: #a7e0de;
  align-self: flex-end;
}

/* Input box */
.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  background: #fff;
  border-radius: 30px;
  margin: 0 1rem 1rem 1rem;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.4rem;
  background: transparent;
}

.chat-input .icons {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #777;
  font-size: 1.6rem;
  cursor: pointer;
}

.chat-info p {
  font-size: 1.2rem;
  color: #777;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
