.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.elsom {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  color: pink;
  font-size: 3rem;
}

.btn_trangchu {
  background-color: #96e4e8;
}
.btn_dangxuat {
  margin-top: 26rem;
}
/* tim kiem */

.tk {
  padding: 10px 30px;
}

header.tk input {
  width: 900px;
  height: 58px;
  border: none;
  border-radius: 30px;
  background: #ded7d7;
  font-size: 1.5rem;
  outline: none;
  margin-left: 5rem;
}

header.tk i {
  position: relative;
  left: -4rem;
  color: #333;
  cursor: pointer;
  align-items: center;
}

nav.search {
  position: absolute;
  width: calc(100% - 220px);
  margin: -1rem 0 1rem 1rem;
}

nav.search ul {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

nav.search a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1.3rem;
}

nav.search a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: pink;
}

.post_trangchu {
  column-count: 7;
  column-gap: 16px;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.post_trangchu a {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post_trangchu img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}
